In [68]:
import pandas as pd

df_superstore = pd.read_csv('data/SampleSuperstore.csv')

columns_rename={
    'Order ID': 'Id Pedido',
    'Order Date': 'Data do Pedido',
    'Ship Date': 'Data de Envio',
    'Ship Mode': 'Modo de Envio',
    'Customer ID': 'Id Cliente',
    'Customer Name': 'Nome do Cliente',
    'Segment': 'Segmento',
    'City': 'Cidade',
    'State': 'Estado',
    'Country': 'País',
    'Region': 'Região',
    'Postal Code': 'Código Postal',
    'Product ID': 'Id Produto',
    'Category': 'Categoria do Produto',
    'Sub-Category': 'Subcategoria do Produto',
    'Product Name': 'Nome do Produto',
    'Sales': 'Valor Total da Venda',
    'Quantity': 'Quantidade de Itens',
    'Discount': 'Desconto Aplicado',
    'Profit': 'Lucro Obtido'
}

df_superstore.rename(columns=columns_rename, inplace=True)
df_superstore['Código Postal'] = df_superstore['Código Postal'].astype(dtype=str)

#### Análise Exploratória ####

In [11]:
df_superstore.describe()

,Código Postal,Valor Total da Venda,Quantidade de Itens,Desconto Aplicado,Lucro Obtido
count,9993.000000,9993.000000,9993.000000,9993.000000,9993.000000
mean,55186.627539,229.856670,3.789753,0.156218,28.652464
std,32063.103801,623.276273,2.225149,0.206456,234.271411
min,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,23223.000000,17.280000,2.000000,0.000000,1.728000
50%,56301.000000,54.480000,3.000000,0.200000,8.662000
75%,90008.000000,209.940000,5.000000,0.200000,29.364000
max,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [36]:
df_superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9993 entries, 0 to 9992
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Modo de Envio            9993 non-null   object
 1   Segmento                 9993 non-null   object
 2   País                     9993 non-null   object
 3   Cidade                   9993 non-null   object
 4   Estado                   9993 non-null   object
 5   Código Postal            9993 non-null   object
 6   Região                   9993 non-null   object
 7   Categoria do Produto     9993 non-null   object
 8   Subcategoria do Produto  9993 non-null   object
 9   Valor Total da Venda     9993 non-null   float64
 10  Quantidade de Itens      9993 non-null   int64
 11  Desconto Aplicado        9993 non-null   float64
 12  Lucro Obtido             9993 non-null   float64
dtypes: float64(3), int64(1), object(9)
memory usage: 1015.0+ KB

In [18]:
df_superstore.isnull().sum()

Modo de Envio              0
Segmento                   0
País                       0
Cidade                     0
Estado                     0
Código Postal              0
Região                     0
Categoria do Produto       0
Subcategoria do Produto    0
Valor Total da Venda       0
Quantidade de Itens        0
Desconto Aplicado          0
Lucro Obtido               0
dtype: int64

In [ ]:
df_superstore[df_superstore.duplicated(keep=False)]